<div class="h1">Room Editor</div>
<div class="jumbotron">
    
<form>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" ng-model="vm.room.name" id="name" placeholder="Name the room in CamelCase ie. darkAlleyNorth">
  </div>
  <div class="form-group">
    <label for="description">Room description</label>
    <textarea rows="5" class="form-control" ng-model="vm.room.desc"  id="description" placeholder="Enter the room description"></textarea>
  </div>
  <div class="form-group">
  <pre>{{vm || json}}</pre>
  </div>  

  <div class="checkbox">
    <label>
      <input type="checkbox"> Check me out
    </label>
  </div>
  <button type="submit" ng-click="vm.saveRoom()" class="btn btn-default">Save</button>


</form>
</div>